@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alegreya SC, serif;
    font-weight: 400;
    color: #0F60B6;
}

/* headings */

h1, h2 {
    font-family: Alegreya SC, serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0F60B6;
}


#top-left-heading {
    float: left;
    font-size: 50px;
    margin-left: 30px;
}
    
/* navigation links */

#menu {
    font-size: 20px;
    letter-spacing: 1px;
    color: #0F60B6;
    
}

#menu, #top-left-heading {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0F60B6;
}

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/lady-justice.jpg') no-repeat center center;
}

/* About Us */

.about-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

.about-p-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-family: Lora, serif;
}

/* Services */

.services-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

.criminal-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

#criminal-image > img {
    border: 2px solid #C1E0F7;
    margin-right: 50px;

}

.criminal-container {
   display: flex;
   align-items: center;
   margin: 0 30px;
   padding: 30px;
   font-family: Lora, serif;
}

.property-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

#property-image > img {
    border: 2px solid #C1E0F7;
    margin-right: 50px;
}

.property-container {
   display: flex;
   align-items: center;
   margin: 0 30px;
   padding: 30px;
   font-family: Lora, serif;
}

.wills-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

#wills-image > img {
    border: 2px solid #C1E0F7;
    margin-right: 50px;
}

.wills-container {
   display: flex;
   align-items: center;
   margin: 0 30px;
   padding: 30px;
   font-family: Lora, serif;
}

.family-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

#family-image > img {
    border: 2px solid #C1E0F7;
    margin-right: 50px;
}

.family-container {
   display: flex;
   align-items: center;
   margin: 0 30px;
   padding: 30px;
   font-family: Lora, serif;
}


/* Team */

.team-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

.team-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 351px;
   
}

.team-member1-container {
    margin: 10px;
    border: solid 2px #C1E0F7;
    border-radius: 50%; 
}

.team-member1-p {
    width: 300px;
}

.team-member2-container {
    margin: 10px;
    border: solid 2px #C1E0F7;
    border-radius: 50%; 
}

.team-member2-p {
    width: 300px;
}

.team-member3-container {
    margin: 10px;
    border: solid 2px #C1E0F7;
    border-radius: 50%; 
}

.team-member4-container {
    margin: 10px;
    border: solid 2px #C1E0F7;
    border-radius: 50%; 
}

/* Contact */

.contact-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

.contact-form-section-container {
    display: flex;
    height: 50vh;
    justify-content: center;
    padding: 10px;
}

.customer-details {
    max-width: 600px;
    width: 100%;
    background: #C1E0F7;
    padding: 25px 30px;
    border-radius: 5px;
}

.customer-details form .input-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

form .input-box {
    width: 50%;
}

.customer-details .input-box input {
    height: 25px;
    width: 100%;
}