@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alegreya SC, serif;
    font-weight: 400;
    color: #0F60B6;
}

/* headings */

h1, h2 {
    font-family: Alegreya SC, serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0F60B6;
}


#top-left-heading {
    float: left;
    font-size: 50px;
    margin-left: 30px;
}
    
/* navigation links */

#menu {
    font-size: 20px;
    letter-spacing: 1px;
    color: #0F60B6;
    
}

#menu, #top-left-heading {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0F60B6;
}

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/lady-justice.jpg') no-repeat center center;
}

/* About Us */

.about-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

.about-p-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Services */

.services-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

/* Team */

.team-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}

/* Contact */

.contact-heading-container {
    display: flex;
    justify-content: center;
    margin: 10px o 10px 0;
    padding: 10px;
    background-color: #C1E0F7;
}